@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../node_modules/bootstrap-icons/font/bootstrap-icons.css");
.my{
border: 3px solid black;
margin: 20px;
padding: 10px;
}